#playlist-setup
  %h3 Create playlist
  %section
    .row
      .col.s10.offset-s1
        %form#playlist-form{:'data-playlist-id' => @playlist.id}
          .input-field
            %label{for: 'name'} Name
            %input{type: 'text', name: 'name', value: @playlist.name}
          .input-field
            %label{for: 'description'} Description
            %textarea.materialize-textarea{name: 'description', value: @playlist.description}
  %h3 Add tracks
  %section
    .row
      .col.s3.offset-s3
        %a#add-youtube{href: '#'}
          %i.material-icons.large videocam
          %br
          Add a video
      .col.s3
        %a#add-text{href: '#'}
          %i.material-icons.large comment
          %br
          Add a text post
      .col.s3
    %form#track-form{:'data-playlist-id' => @playlist.id}
      .row
        .col.s10.offset-s1
          .input-field
            %textarea.materialize-textarea#track-content{name: 'content'}
        .col.s1
          %button.btn-floating.btn-large.waves-effect.waves-light#addTrack
            %i.material-icons add
    %form#track-youtube-form
      .row
        .col.s10.offset-s1
          .input-field
            %label{for: 'content'} Paste link to Youtube video
            %input#track-youtube-content{type: 'text', name: 'content'}
        .col.s1
          %button.btn-floating.btn-large.waves-effect.waves-light#addYoutubeTrack
            %i.material-icons add
    .row
      .col.s12
        %ol#track-list
          - @playlist.tracks.each do |track|
            %li
              = track.text_content
              %a{href: '#', onclick: "return false;" }
                %i.material-icons.delete-track{:'data-track-id' => track.id} delete
  %h3 Publish
  %section
    %p This is a section