.row
  .col.s12
    - @playlists.each do |playlist|
      .card.blue-grey.darken-3.white-text.z-depth-3
        .card-content
          .row
            .col.s2
              = image_tag playlist.pic.url(:thumb)
            .col.s10
              %h3= playlist.name
          %hr{style: 'color:white;'}
          %ol
            - playlist.tracks.each do |track|
              %li= track.text_content